<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Zen Escape - Login</title>
    
</head>
<body>
    <form id="login" action="/auth/login" method="POST">
        
        <div class="logo-container">
            <img src="https://i.ibb.co/6w21QnC/image.png" alt="Zen Escape Logo">
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      
        <input type="email" name="email" id="email" value="<%=oldInput?.email || '' %>" placeholder="Email">
        <small class="error"><%=errors?.fields || '' %></small>
        <small class="error"><%=errors?.user || '' %></small>
        <div class="password-wrapper">
            <input type="password" name="password" id="password" placeholder="Password">
            <span class="toggle-password" id="eyeIcon"> 
                
                <i data-lucide="eye"></i>
            </span>
        </div>
        <small class="error"><%= errors?.password || '' %></small>
         <small class="error"><%= errors?.lokacount || '' %></small>
        <small class="error"><%= errors?.auth || '' %></small>
        
        <a href="/auth/google" class="google-btn">
            Sign in with Google
        </a>
    
    
        <button type="submit">login</button>
    
    </form>
    <script src="/js/lucide.js"></script>
    <script src="/js/login.js"></script>

</body>
</html>